@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Anek Malayalam', sans-serif;
  background-color: #fff;
  color: rgb(70, 65, 65);
  line-height: 1.6;
}
